@import "leaflet/dist/leaflet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.lebody, #root {
  background-color: #ecc9d5; /* رنگ صورتی خیلی کمرنگ */
}
aflet-container canvas { background: transparent !important; }
.leaflet-pane { will-change: transform; }
